.app{
    height: 100vh;
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    
}
.sections{
    width: 100vw;
    height: 90vh;
    position: relative;
    top: 10vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    overflow: moz-scrollbars-none; 
}
.sections::-webkit-scrollbar {
    display: none;
}